
 <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat+material+icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>

      * { margin: 0; padding: 0; box-sizing: border-box; }
        body{ background: #004d40;} 
      
         container{ align-content: center;}
         input{ width: 60%; padding: 12px 20px; margin: 8px 0; display: inline-block;border: 1px solid #ccc; box-sizing: border-box;}
    </style>
   <header class="w3-container w3-padding-32 w3-black" id="home">
    <a href="/register" class="w3-right w3-bar-item w3-button" onclick="w3_open()">Register<i class="fa fa-bars"></i></a>
    <h1 class="w3-xlarge"><span class="w3-hide-small"></span><i class="material-icons">thumbs_up_down</i>YoBro!</h1>
   </header>
 </head>
<body > 
<h2 class="w3-text-light-grey w3-center">Log in to YoBro!</h2>
<form action="/login" method="post" class="w3-text-light-grey">
 <div class="w3-container w3-center">
    <input type="text" required name="email" id="email" placeholder="Email" >
    </br>
    <input type="password" required name="password" id="password" placeholder="Password">
    </br>
    <input type="submit" value="Login">
  </div>
</form>
<div>
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p class="w3-medium">Powered by <a href="http://etal.co.za/index.php/code" target="_blank" class="w3-hover-text-green">Code.etal</a></p>
  <!-- End footer -->
  </footer>
</div>
</body>

      
     
     


